
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6"> 
            <h2>About Me</h2>            
            <h3>Getting to know Aadil Bissessar..</h3>
            <p>
                My name is Aadil Bissessar, I am 21 years old and I am an Informatics student at the University of Pretoria. I am a relentless and hard working individual who loves to seek a challenge. I am an outgoing person with a broad range of interests an hobbies. Some of my interets are Day Trading, sports, learning new skills, business and many more. I am a quick learner who is able to grasp new concepts and skills relatively quick and once I know how to do something I do not forget. My goals are to persue a career in Informatics and to one day be a successful businessman.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>Aadil Bissessar</h3>
            <br/>
            <img src="https://img.ibxk.com.br/2021/06/10/10152930440231.jpg" height="300" width="450"/>
        </div>
    </div>
</div>
