
@using u19325658_Hw3.Models;
@model List<FileModel>

<h2>FileSafe Database</h2><br/>
<h4>Uploaded Videos</h4><br/>
<div class="container-fluid">
    <div class="row">
        @foreach (FileModel file in Model)
        {
            <div class="col-sm-4">
                <div>
                    <video src="@Url.Content("~/Media/Videos/")@file.FileName" height="349" width="350" />
                </div>
                <p>@file.FileName</p>
                <br />
                <button>
                    @Html.ActionLink("Download", "DownloadFile",
                   new { fileName = file.FileName})
                </button>
                <button>
                    @Html.ActionLink("Delete", "DeleteFile",
                   new { fileName = file.FileName})
                </button>

            </div>
        }
    </div>
</div>

